/*STARTER CODE*/

/*
We have started some of the selectors for you.
For others we have provided hints on what the selectors should be.
There are some missing selectors.

Make sure to learn what the starter code does!!
*/

/*STARTER CODE - DO NOT CHANGE*/
main {
  margin-bottom: 100px;
}

caption {
  margin: 5px 0px;
}

tr {
  -webkit-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
}

/*END STARTER CODE*/

body {
  color: #000000;
  font-size: 16px;
  font-family: "Andika", sans-serif;
  margin: 1.2em;
  background-size: cover;
  background-position: center;
  background-image: url("file:/Users/Felipecab/Desktop/339/hw4-2021/images/pigeon-background.JPEG");
  background-repeat: no-repeat;
  background-color: #dddddd;

  /*Req 1*/
}

h1 {
  color: #c12258;
  font-size: 2em;
  text-align: center;
  line-height: 2;
}

p {
  padding-top: 15px;
  /*Req 3*/
}

a {
  font-size: 16px;
  color: #c12258;
  text-decoration-style: wavy;

  /*Req 4*/
}

/*Req 5*/

tbody tr {
  border-top: 2px solid black;
  padding: 10px;
}

/*Add selector and rule here*/

/*Req 6a*/
td {
}

/*Req 6b*/
.colhead {
  padding: 0%;
}
/*Req 6c*/
.rowhead {
}

/*Req 6d*/
/*Req 6e*/
/*Req 6f*/

/*Req 7*/
table {
  border-collapse: collapse;
}

thead tr:first-child th:first-child {
}

thead tr th {
  background-color: #7e0820;
  text-transform: uppercase;
  width: 125px;
  padding: 10px;
  color: white;
  text-align: center;
  vertical-align: center;
}

/*Add selectors and rules here*/

tr:nth-child(even) {
  background-color: #d1d1d1;
}

/*Req 8*/
footer {
  width: 100%;
  background: #000000;
  text-align: center;
  color: #ffffff;
}
