/*STARTER CODE*/

/*
We have started some of the selectors for you.
For others we have provided hints on what the selectors should be.
There are some missing selectors.

Make sure to learn what the starter code does!!
*/

/*STARTER CODE - DO NOT CHANGE*/
main {
  margin-bottom: 100px;
}

caption {
  margin: 5px 0px;
}

tr {
  -webkit-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
}

/*END STARTER CODE*/

body {
  color: #000000;
  font-size: 16px;
  text-align: center;
  font-family: "Andika", sans-serif;
  margin: 1.2em;
  background-size: cover;
  background-position: center;
  background-image: url("../images/pigeon-background.JPEG");
  background-repeat: no-repeat;
  background-color: #dddddd;
}

h1 {
  color: #c12258;
  font-size: 2em;
  text-align: center;
  line-height: 2;
  margin: 0mm;
}

p {
}

.datacite {
  text-align: left;
}

a {
  font-size: 16px;
  color: #c12258;
  text-decoration-style: wavy;
}

table {
  border-collapse: separate; /*Collapses borders*/
  border: 2px solid black;
  border-radius: 10px;
  border-spacing: 0px; /*Size of table*/
  table-layout: auto; /*Size of table*/
  white-space: nowrap; /*No wrapping of cells*/
  width: 70%; /*Size of table*/
  margin-right: auto; /*Centers table*/
  margin-left: auto; /*Centers table*/
}

td {
  border-top: 2px solid black;
  padding: 10px;
}

tr .rowhead {
  border-top: 2px solid black;
  padding: 10px;
}

thead {
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
  border-collapse: separate;
}

tbody tr {
  padding: 10px;
}

tbody tr th {
  padding: 10px;
  width: 125px;
}

tr td:nth-child(2) {
  border-left: 2px solid #000;
}

.colhead {
}

.rowhead {
}

tbody tr {
  border: 2px solid black;
}

tbody tr:first-child {
  border-right: 2px solid black;
}

thead tr:first-child th:first-child {
  padding: 10px;
  width: 125px;
}

thead tr:first-child th:first-child {
  border-top-left-radius: 10px;
}

table tr:first-child th:last-child {
  border-top-right-radius: 10px;
}

tbody tr:last-child th:first-child {
  border-bottom-left-radius: 10px;
}

tbody tr:last-child th:last-child {
  border-bottom-right-radius: 10px;
}

thead tr th {
  background-color: #7e0820;
  text-transform: uppercase;
  width: 125px;
  padding: 10px;
  color: white;
  text-align: center;
  vertical-align: center;
}

tr:nth-child(even) {
  background-color: #d1d1d1;
}

tr:hover {
  background-color: rgba(126, 8, 32, 0.25);
}

footer {
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 75px;
  width: 100%;
  background: #000000;
  color: #ffffff;
}
